*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#ffffff;
    color:#111;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:white;
    box-shadow: 0 6px 12px rgba(0,0,0,0.12);
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    color:#0d47a1;
    font-weight:bold;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:28px;
}

.nav-links a{
    text-decoration:none;
    color:#222;
    font-size:15px;
}

.nav-links a:hover{
    color:#0d47a1;
}

.btn-primary{
    background:#0d47a1;
    color:white;
    padding:10px 20px;
    border-radius:6px;
    text-decoration:none;
    font-size:14px;
    display:inline-block;
}

.btn-primary:hover{
    background:#08306b;
}

.btn-outline{
    border:2px solid #0d47a1;
    color:#0d47a1;
    padding:8px 18px;
    border-radius:6px;
    text-decoration:none;
    margin-left:10px;
}

.btn-outline:hover{
    background:#0d47a1;
    color:white;
}

.about{
    padding:80px 8%;
    background:#f8f9fc;
}

.about-header{
    text-align:center;
    max-width:650px;
    margin:auto;
    margin-bottom:50px;
}

.about-header h2{
    font-size:36px;
    margin-bottom:15px;
    color:#111;
}

.about-header p{
    color:#555;
    line-height:1.7;
}

.about-box{
    background:white;
    border-radius:14px;
    box-shadow:0 10px 30px rgba(0,0,0,0.06);
    padding:50px;

    display:flex;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
}

.about-text{
    flex:1;
    min-width:280px;
}

.about-text h3{
    font-size:28px;
    margin-bottom:25px;
    color:#0d47a1;
}

.about-text p{
    color:#555;
    line-height:1.8;
    margin-bottom:14px;
}

.about-image{
    flex:1;
    min-width:280px;
}

.about-image img{
    width:100%;
    border-radius:10px;
}

.team{
    position:relative;
    padding:90px 8%;
    text-align:center;
    color:#111;

    background:url("IMAGES/FOTO\ WEB\ TIM.jpeg") center/cover no-repeat;
}

.team-overlay{
    position:absolute;
    inset:0;
    background:rgba(255,255,255,0.85); 
}

.team-content{
    position:relative;
    z-index:2;
    max-width:1100px;
    margin:auto;
}

.team h2{
    font-size:38px;
    margin-bottom:70px;
}

.team-grid{
    display:flex;
    justify-content:center;
    gap:35px;
    flex-wrap:wrap;
}

.team-card{
    background:white;
    padding:25px;
    border-radius:14px;
    width:240px;
    box-shadow:0 10px 28px rgba(0,0,0,0.08);
    transition:.3s;
}

.team-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 45px rgba(0,0,0,0.15);
}

.team-card img{
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:50%;
    margin-bottom:15px;
}

.team-card h3{
    margin-bottom:4px;
}

.team-card span{
    color:#0d47a1;
    font-size:14px;
}